<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>
<div class="media">
    <a href="http://www.smgov.net" class="media-left media-middle">
        <img src="~/Themes/CSM.BootstrapBase/Content/Images/city-logo.png" alt="City logo" />
    </a>
    <div class="media-body">
        <a href="@Href("~/")" class="media-heading navbar-link">
            City of Santa Monica
            <br />
            @WorkContext.CurrentSite.SiteName
        </a>
    </div>
</div>

