<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        @Model.ContentItem.WidgetPart.Title
        <span class="caret"></span>
    </button>
    @Display(New.Dropdown(Model.Menu))
</div>