<div class="media">
    <a href="http://www.smgov.net" target="_blank" class="media-left media-center">
        <img class="media-object" src="~/Themes/CSM.BootstrapBase/Images/city-logo.png" alt="City logo" />
    </a>
    <a href="@Href("~/")" class="navbar-link media-body media-center">
        City of Santa Monica
        <br />
        @WorkContext.CurrentSite.SiteName
    </a>
</div>