@using Orchard.Core.Shapes

<div class="zone zone-navigation navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            @Display(New.NavbarHeader())
        </div>
        <nav class="collapse navbar-collapse" id="navbar-collapse">
            @foreach (var item in CoreShapes.Order(Model.Items))
            {
                @Display(item)
            }
        </nav>
    </div>
</div>