@using Orchard.Core.Shapes

<nav class="zone zone-navigation navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            @Display(New.NavbarHeader())
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            @foreach (var item in CoreShapes.Order(Model.Items))
            {
                @Display(item)
            }
        </div>
    </div>
</nav>