@* This shape template is overriding ~/Orchard.Core/Shapes/Views/MenuItemLink.cshtml *@

@{ 
    var tag = new TagBuilder("a");
    if (Model.IsDropdown)
    {
        tag.AddCssClass("dropdown-toggle");
        tag.Attributes.Add("href", "#");
        tag.Attributes.Add("role", "button");
        tag.Attributes.Add("data-toggle", "dropdown");
        tag.Attributes.Add("aria-expanded", "false");
    }
    else
    {
        tag.Attributes.Add("href", Model.Href);
    }
}

@Html.Raw(tag.ToString(TagRenderMode.StartTag))
@Model.Text
@if (Model.IsDropdown)
{
    <span class="caret"></span>
}
@if (Model.Selected)
{
    <span class="sr-only">(current)</span>
}
@Html.Raw(tag.ToString(TagRenderMode.EndTag))
