/** CSM.Bootstrap: grid system layout **/

@import "variables.less";

body {
    width: 100%;
}

#layout-wrapper {

    margin: 0 auto;

    @media @media-lg {
        width: 95%;
    }

    @media @media-xl {
        width: 85%;
    }

    @media @media-xxl {
        width: 80%;
    }

    #layout-header { }

    #layout-navigation { }

    #layout-featured { }

    #layout-main-container {
        .container-fixed();

        #layout-main {
            .make-row();

            #layout-content {
                .make-md-column(12);
            }

            .aside-2& {
                #layout-content{
                    .make-md-column(9);
                }
                #aside-second {
                    .make-md-column(3);
                }
            }
        }
    }

    #layout-footer {
        #footer { }
    }
}
