//the root LESS file, the compiled version of which is included in the rendered page by the theme
//this file should @import all other required LESS/CSS files that makeup the theme

@import "bootstrap/bootstrap.less";

/** CSM.Bootstrap theme imports **/

@import "variables.less";
@import "grid.less";
@import "type.less";

body {
    padding-top: @navbar-height * 1.5;
}

.navbar-header {
    .media {
        margin-bottom: 15px;
    }
}

#layout-featured {
    .jumbotron {
        background: url("../Content/Images/field.jpg") center left no-repeat;
        color: @white !important;
    }
}

#layout-content {
    background-color: @white;
}

#aside-second {
    background-color: @yellow;
}

#tripel-first,
#tripel-second,
#tripel-third {
    /*background-color: @yellow;*/
}