//the root LESS file, the compiled version of which is included in the rendered page by the theme
//this file should @import all other required LESS/CSS files that makeup the theme

@import "bootstrap/bootstrap.less";

/** CSM.BootstrapBase theme imports **/

@import "variables.less";
@import "layout.less";
@import "navbar.less";
@import "type.less";
@import "forms.less";

#layout-navigation {
    border-bottom-style: solid;
    border-bottom-width: 5px;
}

#layout-featured {
}

#layout-content {

}

#aside-second {

}

#layout-tripel-container {

}

img {
    max-width: 100%;
}
