/** CSM.Bootstrap: typography, fonts, colors, etc **/

@import "variables.less";

body {
    @media @media-xl {
        font-size: @font-size-base * 1.25; //~20px
    }

    @media @media-xxl {
        font-size: @font-size-base * 1.5; //~24px
    }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    text-transform: uppercase;
}

.btn {
    font-size: inherit;
}

#layout-navigation {
    .navbar-header {
        a {
            font-size: @font-size-base * 1.05;
            font-weight: bold;
            line-height: @line-height-base * 0.90;
            &:hover {
                text-decoration: none;
            }
        }
    }
    nav {
        font-size: @font-size-base * .95;
        font-weight: bold;
    }
}

#aside-second {
    .dropdown-header {
        font-size: @font-size-h3;
    }
}

#tripel-first,
#tripel-second,
#tripel-third {
    text-align: center;
}
