/** CSM.BootstrapBase: typography, fonts, colors, etc **/

@import "variables.less";

body {
    @media @media-xl {
        font-size: @font-size-base * 1.25; //~20px
    }

    @media @media-xxl {
        font-size: @font-size-base * 1.625; //~26px
    }
}

#layout-navigation {
    @multiplier: 1.1;

    .navbar-header {
        a {
            font-weight: bold;
            &:hover {
                text-decoration: none;
            }
            @media @media-xl {
                font-size: @font-size-base * @multiplier;
            }
        }
    }
    nav {
        font-weight: bold;
        @media @media-xl {
            font-size: @font-size-base * @multiplier;
        }
    }
}

#layout-featured {
    .jumbotron {
        @media @media-sm {
            h1, .h1 {
                font-size: @font-size-h1 * 1.5;
            }
        }
        @media @media-xl {
            h1, .h1 {
                font-size: @font-size-h1 * 1.5;
            }
        }
        @media @media-xxl {
            p {
                font-size: @jumbotron-font-size * 1.25;
            }
        }
    }
}

#aside-second {
    .dropdown-header {
        font-size: @font-size-h3;
    }
}

#tripel-first,
#tripel-second,
#tripel-third {
    text-align: center;
}

.btn {
    font-size: inherit;
}
