@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

/** CSM.BootstrapBase: variable definitions and overrides **/

@gutter: @jumbotron-padding;

// Break points
@screen-sm-min: 48em; // ~768px
@screen-md-min: 58.75em; // ~940px
@screen-lg-min: 68.75em; // ~1100px
@screen-xl-min: 87.5em; // ~1400px
@screen-xxl-min: 120em; // ~1920px

// Media query shortcuts
// The tilde is needed so the quotes won't be printed
@media-sm: ~"only screen and (min-width: @{screen-sm-min})";
@media-md: ~"only screen and (min-width: @{screen-md-min})"; 
@media-lg: ~"only screen and (min-width: @{screen-lg-min})";
@media-xl: ~"only screen and (min-width: @{screen-xl-min})"; 
@media-xxl: ~"only screen and (min-width: @{screen-xxl-min})";

//colors

//similar to Bootstrap built-in @brand-primary, @brand-success, etc.
//the default is a 90-degree offset (on the color wheel) from @brand-primary
//should probably be overridden in a base theme
@brand-secondary: spin(@brand-primary, 90);

//setup some useful variables ala Bootstrap for the @brand-secondary
@btn-secondary-color: @white;
@btn-secondary-bg: @brand-secondary;
@btn-secondary-border: darken(@btn-secondary-bg, 5%);

@brand-primary-dark: darken(@brand-primary, 10%);

@white: #fff;

@page-bg: transparent;

@navbar-default-bg: @brand-primary;
@navbar-default-link-color: @white;
@navbar-default-link-hover-color: @white;
@navbar-default-link-hover-bg: @brand-primary-dark;
@navbar-default-link-active-color: @white;
@navbar-default-link-active-bg: @brand-primary-dark;
@navbar-border-bottom-color: @brand-secondary;

@aside-first-bg: @gray-lighter;
@content-bg: transparent;
@aside-second-bg: @gray-lighter;

@tripel-container-bg: @gray-lighter;

@footer-bg: transparent;
@footer-top-border-color: @navbar-border-bottom-color;

//grid
@grid-float-breakpoint: @screen-md-min;
@container-xl: 1360px;
@container-xxl: 1440px;

//nav
@navbar-height: 54px;

//type
@font-size-base: 16px;
@font-size-h1: 24px;
@font-size-h2: 21px;
@font-size-h3: 18px;
@font-size-h4: 16px;
@font-size-h5: @font-size-base;
@font-size-h6: @font-size-base;
@jumbotron-font-size: 21px; //~21px
