@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

/** CSM.BootstrapBase: variable definitions and overrides **/

// In many cases, creating a child theme based on CSM.BootstrapBase
// can be as simple as overriding selected variables,
// both those defined as part of the Bootstrap distribution
// and custom variables defined by this theme.

// == Colors

@brand-secondary: @brand-primary;
@btn-secondary-color: @white;
@btn-secondary-bg: @brand-secondary;
@btn-secondary-border: darken(@btn-secondary-bg, 5%);

@brand-primary-dark: darken(@brand-primary, 10%);

@white: #fff;

//colors for various zones of the page

@body-bg: transparent;

@layout-main-container-bg: transparent;

//overriding Bootstrap's navbar-default styles
@navbar-default-bg: @brand-primary;
@navbar-default-link-color: @white;
@navbar-default-link-hover-color: @white;
@navbar-default-link-hover-bg: @brand-primary-dark;
@navbar-default-link-active-color: @white;
@navbar-default-link-active-bg: @brand-primary-dark;
@navbar-border-bottom-color: @brand-secondary;

@aside-first-bg: @gray-lighter;
@layout-content-bg: transparent;
@aside-second-bg: @gray-lighter;

@layout-tripel-container-bg: @gray-lighter;

@layout-footer-bg: @navbar-default-bg;
@layout-footer-top-border-color: @navbar-border-bottom-color;
@layout-footer-text-color: @navbar-default-link-color;

// == Layout related

// breakpoints
@screen-sm-min: 48em; // ~768px
@screen-md-min: 58.75em; // ~940px
@screen-lg-min: 68.75em; // ~1100px
@screen-xl-min: 87.5em; // ~1400px
@screen-xxl-min: 120em; // ~1920px

//media query shortcuts, use like:
//  @media @media-md { /* styles */ }

//tilde is needed so the quotes won't be printed
@media-sm: ~"only screen and (min-width: @{screen-sm-min})";
@media-md: ~"only screen and (min-width: @{screen-md-min})"; 
@media-lg: ~"only screen and (min-width: @{screen-lg-min})";
@media-xl: ~"only screen and (min-width: @{screen-xl-min})"; 
@media-xxl: ~"only screen and (min-width: @{screen-xxl-min})";

@gutter: @jumbotron-padding;

@grid-float-breakpoint: @screen-md-min;

@container-xl: 1360px;
@container-xxl: 1440px;

@navbar-height: 54px;

// == Type
@font-size-base: 16px;
@font-size-h1: 24px;
@font-size-h2: 21px;
@font-size-h3: 18px;
@font-size-h4: 16px;
@font-size-h5: @font-size-base;
@font-size-h6: @font-size-base;
@jumbotron-font-size: 21px;
