@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

/** CSM.Bootstrap: variable definitions and overrides **/

@gutter: @jumbotron-padding;

// Break points
@screen-sm-min: 48em; // ~768px
@screen-md-min: 58.75em; // ~940px
@screen-lg-min: 68.75em; // ~1100px
@screen-xl-min: 87.5em; // ~1400px
@screen-xxl-min: 120em; // ~1920px

// Media query shortcuts
// The tilde is needed so the quotes won't be printed
@media-sm: ~"only screen and (min-width: @{screen-sm-min})";
@media-md: ~"only screen and (min-width: @{screen-md-min})"; 
@media-lg: ~"only screen and (min-width: @{screen-lg-min})";
@media-xl: ~"only screen and (min-width: @{screen-xl-min})"; 
@media-xxl: ~"only screen and (min-width: @{screen-xxl-min})";

//colors
@white: #ffffff;
@teal: #5d8880;
@orange: #fae2a8;
@olive: #dce5be;
@yellow: #fbf5b5;
@seafoam: #b0dab9;

// Bootstrap overrides

//grid
@grid-float-breakpoint: @screen-md-min;
@container-xl: 1360px;
@container-xxl: 1440px;

//nav
@navbar-height: 54px;
@navbar-default-bg: transparent;
@navbar-default-link-color: @white;
@navbar-default-link-hover-color: @white;
@navbar-default-link-hover-bg: darken(@teal, 16.5%);
@navbar-default-link-active-color: @white;
@navbar-default-link-active-bg: darken(@teal, 16.5%);

//type
@font-size-base: 16px;
@font-size-h1: floor((@font-size-base * 2.25)); // ~36px
@font-size-h2: floor((@font-size-base * 1.875)); // ~30px
@font-size-h3: ceil((@font-size-base * 1.5)); // ~24px
@font-size-h4: ceil((@font-size-base * 1.125)); // ~18px
@font-size-h5: @font-size-base;
@font-size-h6: ceil((@font-size-base * 0.75)); // ~12px
@jumbotron-font-size: ceil((@font-size-base * 1.3125)); //~21px

@font-family-base: aktiv-grotesk-std;
@headings-font-family: abril-titling-condensed;
@headings-color: darken(@teal, 10%);
